*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid black;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}
.title_small {
    font-size: 20px;
}

h1{
    display: inline;
}

.form_container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    margin-bottom: 5px;
}  

input,
select,
textarea {
padding: 6px 10px;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 15px;
}

input:focus {
    outline-color: red;
}

.button_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

button {
    background-color: green;
    border: 2px solid transparent;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}

button:hover {
    background-color: #cccccc98;
    border: 2px solid green;
    color: black;
    transition: 0.5s ease-out;
    cursor: pointer;
}
.textarea_control {
    grid-column: 1 / span 2;
}

.textarea_control textarea {
    width: 100%;
    margin-top: 5px;
}

<<<<<<< HEAD
@media (max-width: 460px) {
=======
@media (max-width: 480px) {
>>>>>>> 66a412e (First Commit)
    .textarea_control {
    grid-column: 1 / span 1;
    }
    .container {
        padding: 20px;
    }
} ;
<<<<<<< HEAD
=======

>>>>>>> 66a412e (First Commit)
