@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: border-box;
}
body{
    font-family:'roboto' sans-serif ;
    background-color:#f1f3f6 ;
}
:root{
    --primary-color:#2874f0;
}
.container{
    padding: 0 8px;
}
/* Header */
header{
    background-color:var(--primary-color);
    height: 56px;
    max-width: 100vw;
}
.nav-container{
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
}
.nav-logo{
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
}
.nav-logo img{
    width: 75px;
}
.nav-search{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.search-container{
    width: 540px;
    height: 36px;
    background:white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 /23%);
    display: flex;
}
.search-container input{
    width: calc(100% - 32px);
    padding:16px ;
    outline: none;
    border: none;
}
.search-btn{
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: white;
    border-radius:0 2px 2px 0 ;
    cursor: pointer;
}
.nav-login{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.nav-login button{
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}
.nav-seller{
    height: 100%;
    display: flex;
    align-items:center ;
    margin: 0 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.nav-more{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.nav-more svg{
    margin-left: 8px;
    rotate:-90deg;
}
.nav-cart{
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
}
.nav-cart svg{
    margin-right: 8px;
}

/* Panel-Section */
.panel-section{
    width: 100%;
    height: 122px;
    background: white;
    box-shadow:0 1px 1px 0 rgb(0, 0, 0 /16%) ;
}
.panel-section-container{
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 500;
}
.panel-item img{
    width: 64px;
    height: 64px;
}
/* Banner-Section */
.banner1-container{
    margin-top: 16px;
    height: 280px;
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/0735712fe84c602d.jpg?q=50");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner2-container{
    margin-top: 8px;
    height: 122px;
    background-image: url("https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Offer Section */
.offer-container{
    height:362px;
    margin-top: 8px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-offers-container{
    width: 230px;
    height: 100%;
    background-image:url(https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90);
    background-position: bottom;
    background-repeat: no-repeat;
}
.left-offer-content{
    margin-top: 132px;
    width: 100%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-offer-content button{
    margin-top: 24px;
    height: 40px;
    background: var(--primary-color);
    color: white;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0 /20%);
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
/* Offer Item Section */
.offer-item-list{
    height: 100%;
    width: calc(180%-230px);
    display: flex;
    overflow-x: auto;
}
.offer-item{
    width: 230px;
    height: 95%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5px solid grey;
    border-radius: 5px;
    margin: 10px 5px;
}
.offer-item img{
    max-width: 200px;
    max-height: 200px;
}
.item-head{
    margin-top: 16px;
    font-size: 20px;
    font-weight: 500;
}
.item-price{
    margin-top: 10px;
    font-size: 18px;
    color:#388e3c ;
}
.item-explore{ 
    opacity: 0.6;
    margin-top: 12px;
    font-size: 16px;
    font-weight: 300;
}
/* Deal Section */
.deals-section{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}
.deals-section img{
    width: 33%;
}
/* footer */
footer{
    height: 20px;
    margin-top: 26px;
    background-color:black;
    padding: 25px;
    text-align: center;
    font-size: 18;
    color: white;
}


