*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.main
{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}

.content{
    max-width:900px ;
    margin: 0  auto;
}

.image{
    border: 2px solid rgb(64, 64, 184);
    border-radius: 50%;
    overflow: hidden;
}
.image,img{
    width: 300px;
    height: 300px;
    /* border-radius: 50px; */
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size:50px ;
    font-weight: bold;
    color:#1d1e4c ;
    text-transform: uppercase;
}
.top_section h4{
    text-align: end;
    font-size: 30px;
}
.about{
    margin-top: 50px;
}
.about h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biography{
    margin-top: 50px 0 ;

}
.biography h3{
    margin: 20px;
}
.biography ul {
    margin-left:50px ;
}
.biography li{
    margin-bottom: 15px;
}

footer {
    text-align: right;
    margin: 50px 0;
}
footer p {
    text-align: end;
}
@media(max-width:780px){
    .top_section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top_section h1{
        text-align: center;
    }
    .top_section h4{
        text-align: center;
    }
    .about h2{
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .about p{
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1.2px;
        text-align: justify;
        padding: 20px;
    }
    
    footer p{
        text-align: center;
    }

}
@media(max-width:480px){
    .top_section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .top_section h1{
        text-align: center;
    }
    .top_section h4{
        text-align: center;
    }
    .about h2{
        font-size: 50px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .about p{
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1.2px;
        text-align: justify;
        padding: 20px;
    }
    
    footer p{
        text-align: center;
    }

<<<<<<< HEAD
}
=======
}
>>>>>>> 66a412e (First Commit)
