@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html , body{
    font-family: "INTER",sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
body{
    font-size: 1.4rem;
}
ul{
    list-style: none;
}
header{
    position: sticky;
    top: 0;
    background: #faf8f8;
    margin-bottom: 5rem;
}
nav{
    max-width: 1200px;
    padding: 1rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav ul li {
    font-size: 1.8rem;
}
nav ul li:hover{
    border-bottom:2px solid rgb(255, 251, 0) ;
}
nav i{
    font-size: 2.5rem;
}
main{
    max-width: 1200px;
    margin: auto;
}
/* Hero Section */

#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}
.hero-content h1{
    font-size: 6rem;
    line-height: 1.2;
}
.hero-content h4{
    font-size: 2.5rem;
    font-weight: 300;
}
.hero-img img{
    border-radius: 5rem;
}
/* Long Card Section */
.h-card{
    display: flex;
    margin: 2rem 1;
    box-shadow:0px 5px 4px rgba(221, 221, 221, 0.25) ;
    align-items: center;
    border:1px solid #e2e2e2 ;
    border-radius: 0.5rem;
    overflow: hidden;
}
.card-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.h-card .card-content h2{
    font-size:3rem ;
}
.status{
    display: flex;
    justify-content: space-between;
}
.read-btn{
    all: unset;
    font-weight: 600;
    border-bottom: 1px solid transparent;
}
.read-btn:hover{
    border-bottom: 1px solid #ccc;
}
/* v-card */
.v-card{
    display: flex;
    flex-direction: column-reverse;
    max-width: 300px;
    box-shadow:0px 5px 4px rgba(221, 221, 221, 0.25) ;
    align-items: center;
    border:1px solid #e2e2e2 ;
    border-radius: 0.5rem;
    overflow: hidden;
    margin: 1rem;
}
.card-container{
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}
.card-wrapper:hover{
    box-shadow: 1px 1px 1px #ccc;
    scale: 1.01;
    border-radius: 1.5rem;
    transition: 0.3s ease-in-out;
}
.card-wrapper{
    display: flex;
    justify-content: center;
}
.v-card img{
    width: 100%;

}
.footer-card{
    display: flex;
    margin: 5rem 0;
    box-shadow:0px 5px 4px rgba(221, 221, 221, 0.25) ;
    align-items: center;
    border:1px solid #e2e2e2 ;
    border-radius: 0.5rem;
    overflow: hidden;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-content ul{
    display: flex;
    gap: 3rem;
}
.footer-content ul li{
    font-size: 1.8rem;
}

/* Post Page */
.banner-img img{
    width: 100%
}
.post h1{
    font-size: 3rem;
}
.post hr{
    margin: 3rem 0;
}
.about-auther{
    display: flex;
    gap: 1rem;
    align-items: center;
}
article{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 2rem;
}
a{
    text-decoration: none;
    color: #000;
}
@media(max-width:780px){
    #hero{
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }
    
}
@media(max-width:480px){
    #hero{
        display: flex;
        flex-direction: column;
        margin: 50px 0;
    }
    .hero-content h1{
        font-size: 4rem;
        line-height: 1.2;
        text-align: center;
    }
    .hero-content h4{
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
    }
    .hero-img img{
        border-radius: 5rem;
        height: 30rem;
        width: 40rem;
        margin-top: 2rem;
    }
    .h-card{
        display: flex;
        flex-direction: column-reverse;
        width: 40rem;
        margin-left: 2.1rem;
    }
    .footer-card{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 2.1rem;
        width: 40rem;
    }
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
<<<<<<< HEAD
}
=======
}
>>>>>>> 66a412e (First Commit)
