  *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main_box{
    background-image: url(photo.jpg);
    height: 100vh;
    background-size: cover;
} 
.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 20px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
} 
.sidebar_menu{
    position: fixed;
    left: -300px;
    height:100vh ;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
    height: 60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
<<<<<<< HEAD
   
=======
    
>>>>>>> 66a412e (First Commit)

}
.btn_two i{
    color: gray;
    font-size: 25px;
    font-weight:700 ;
    line-height: 60px;
    position: absolute;
    left: 275px;
    /* opacity: 0; */
    cursor: pointer;
    transition: all 0.3s linear;
}
.menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 80px;
}
li{
    margin-top: 6px;
    padding: 14px 20px;
    
}
li i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a{
    padding-left:10px ;
}
.social_media{
    
    position: absolute;
    left: 25%;
    bottom:50px ;
}
.social_media i{
    color: white;
    opacity: 0.5; 
    padding: 0 5px ;
}

#check
{
    display: none;
}

li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}
li a:hover{
    color: aqua ;
}


.btn_one i:hover
{
font-size:40px ;
}

.btn_two i:hover
{
font-size: 30px;    
}

.social_media i:hover{
    opacity: 2;
    transform: scale(1.5);
}
#check:checked ~.sidebar_menu{
left:0;
}
#check:checked ~.btn_one {
    opacity: 0;
<<<<<<< HEAD
}  
=======
}  
>>>>>>> 66a412e (First Commit)
