*{
    margin: 0;
    padding: 0;
    font-family: Arial ;
    border: border-box;
    /* scroll-behavior: smooth; */
}
.nav-bar{
    height:60px ;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-panel{
    display: none;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100px;
    background-image: url("images/amazon_logo.png");
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
    transition: 0.3s ease-in-out;
}
.border:hover{
    border: 1.5px solid white;
    border-radius:2px ;
    transition: 0.3s ease-in-out;
}
/* Box 2 */
.first-p{
    color: #cccccc
    font-size:0.85rem;
    margin-left: 1rem;
}
.second-p{
    font-size: 1rem;
    margin-left:4px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* Box 3 */
.nav-search{
    width: 50rem;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    border: 2px solid transparent;
    transition: 0.2s ease-in-out;
}
.nav-search:hover{
    border: 2px solid orange;
    transition: 0.2s ease-in-out;
}
.search-select{
    bottom: #f3f3f3;
    width: 50px;
    text-align: center;
    padding:5px ;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: grid;
    place-items: center;
    font-size: 1.2rem;
    background-color:#fedb68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/* Box 4 & 5 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* Box6 */
.nav-cart i{
    font-size:30px ;
}
.nav-cart {
    font-size:0.85rem ;
    font-weight: 700;
}
/* Panel */
.panel{
    height: 40px;
    background-color:#222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.panel a:hover{
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid #fedb68 ;
}
.panel a{
    text-decoration: none;
    color:white;
    margin-left: 10px;
}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
.panel-deals:hover{
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid #fedb68 ;
}
/* Hero-section */
.hero-section{
    background-image: url(./images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
}
.hero-msj{
    background-color: white;
    color: black;
    height: 40px;
    display: grid;
    place-items: center;
    font-size: 0.85rem;
    width: 96.5%;
    margin-bottom: 25px;
    text-align: center;
}
.hero-msj a{
    color: #007185;
    text-decoration: none;
}
/* Shop-section */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    height: 400px;
    width: 23%;
    background: white;
    padding: 20px 0 15px;
    margin-top: 1rem;
}
.box1-img{
    background-image:url("images/box1_image.jpg") ;
}
.box2-img{
    background-image:url("images/box2_image.jpg") ;
}
.box3-img{
    background-image:url("images/box3_image.jpg") ;
}
.box4-img{
    background-image:url("images/box4_image.jpg") ;
}
.box5-img{
    background-image:url("images/box5_image.jpg") ;
}
.box6-img{
    background-image:url("images/box6_image.jpg") ;
}
.box7-img{
    background-image:url("images/box7_image.jpg") ;
}
.box8-img{
    background-image:url("images/box8_image.jpg") ;
}
.box-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin:0px 1rem ;
    text-align: center;
}
.box-content p{
    color:#007185 ;
    text-align: end;
}
/* Footer */
footer{
    margin-top:1rem ;
}
.foot-panel-up{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 0.85rem;
}
.foot-panel-mid{
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}
h4{
    margin-bottom: 0.5rem;
}
.panel-mid{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 2rem 0;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height:50px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.foot-pages{
    padding-top: 25px;
}
.foot-copy-right{
    padding-top:5px;
}
@media(max-width:480px){
    .nav-search{
        display: none;
    }
    .nav-address{
        display: none;
    }
    .nav-panel{
        display: block;
    }
    .nav-return{
        display: none;
    }
    .nav-bar{
        justify-content: space-around;
    }
    .panel-all i{
        display: none;
    }
    .panel-all{
        margin-left: 10px;
        transition: 0.2s ease-in-out;
        border-bottom: 2px solid transparent ;
    }
    .panel-all:hover{
        transition: 0.2s ease-in-out;
        border-bottom: 2px solid #fedb68 ;
    }
    .panel-deals{
        display: none;
    }
    .panel{
        justify-content: space-evenly;
    }
    .panel-ops{
        width: 90%;
        margin-left: 2px;
    }
    .hero-section{
        background-size: contain;
        background-repeat: no-repeat;
        height: 250px;
    } 
    .hero-msj{
        height: 50px;
        font-size: 0.75rem;
        width: 90.5%;
        margin-bottom: 0.7rem;
    }
    .shop-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .box{
        height: 400px;
        width: 90%;
        display: grid;
        margin-top: 1rem;
    }
    .foot-panel-mid{
        flex-direction: column;
        padding: 0 120px;
    }
    .panel-mid{
        padding: 0.5rem;
        margin: 0.5rem 0;
        line-height: 1.5;
    }
}
@media(max-width:780px){
    .nav-search{
        width: 15rem;
    }
    .panel{
        display: flex;
        padding: 0 1.5rem ;
    }
    .panel-all i{
        margin-right: 1px;
    }
    .hero-msj{
        font-size: 0.85rem;
        width: 91%;
        padding: 5px;
        margin-bottom: 0.7rem;
    }
    .box{
        height: 400px;
        width: 45%;
        margin-bottom: 1rem;
    }
    footer{
        margin-top:0rem ;
    }
    .foot-panel-mid{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .panel-mid{
        width: 200px;
        height: 150px;
    }
    .foot-panel4{
        font-size: 0.85rem;
        text-align: center;
    }
}